/*HEADER*/
  header {
    background-color: rgb(147, 207, 209);
    padding: 10px;
    align-items: center;
    font-size: larger;
  }
  
  .menu_navegacion {
    display: flex;
  }
  
  .menu_navegacion ul {
    list-style-type: none;
    padding-left: 30px;
  }
  
  .menu_navegacion ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .menu_navegacion a {
    text-decoration: none;
  }
  
  .menu_navegacion a:hover {
    text-decoration: underline;
    color:aliceblue;
  }
  
  /*MAIN*/
  h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  h2 {
    text-align: center;
  }
  
  p {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
  }
  
  figure {
    text-align: center;
  }
  
  h3 {
    text-align: center;
    text-decoration: underline;
  }

  .columna {
    text-align: center;
  }

  aside {
    border: 2px solid;
    border-color: rgb(147, 207, 209);
    flex: 1;
    margin: 0.5rem;
    height: 100%;
  }
  
  aside ul {
    padding: 0;
    list-style-type: none;
  }
  
  aside ul li {
    list-style: none;
  }

  section {
    border: 2px solid;
    border-color: rgb(147, 207, 209);
    flex: 1;
    text-align: center;
    margin: 0.5rem;
    height: 100%;
  }

  section figure {
    margin: 1rem;
  }

  footer {
    width: 100%;
    background-color: rgb(147, 207, 209);
    margin-top: 2rem;
    position: sticky;
  }
